<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}

                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'list_projects' %}">My projecta</a></li>
                    <li><a href="{% url 'logout' %}">My tasks</a></li>

                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'list_projects' %}">Back to Projects</a></li>
        </ul>
    </nav>
    <main>
        <div>
            <h1>{{project.name}}</h1>
            <p>{{project.description}}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if show_project %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in show_project %}
                    <tr>
                        <td>{{task.name}}</td>
                        <td>{{task.assignee.username}}</td>
                        <td>{{task.start_date}}</td>
                        <td>{{task.due_date}}</td>
                        <td>{{task.is_completed|yesno:"yes,no," }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
